<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Problema: </strong> {{ description }} <br/>
  <br />
  <small>
    O produto foi cancelado devido a gravidade do problema!
  </small>
</p>
