<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova entrega para ser realizada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    O produto já está disponível para retirada.
  </small>
</p>
